# Pandas

In [1]:
import pandas as pd
import numpy as np

## 1 生成对象

In [2]:
# 用列表生成series对象
s = pd.Series([1,3,5,np.nan,7])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
dtype: float64

In [5]:
# 矩阵 - DataFrame
df2 = pd.DataFrame({
    'A':[1],
    'B':[pd.Timestamp('20240101')],
    'C':['xxx']
})
df2

   A          B    C
0  1 2024-01-01  xxx

In [6]:
# 用含日期的索引生成矩阵
d = pd.date_range('20240101', periods=6)
d

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=d, columns=list('ABCD')) 
# np.random.randn(6,4) 用于生成6行4列的二维数组，每个数字iid~N(0,1)
df

                   A         B         C         D
2024-01-01 -0.481355  0.743276 -0.026856  0.951764
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096
2024-01-03  0.776910  0.085999 -0.268158 -0.048869
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289
2024-01-05  0.968556 -0.996243  1.031896  0.953733
2024-01-06 -0.139715 -0.811698  0.655481 -2.787622

## 2 查看数据

In [9]:
df2.dtypes

A             int64
B    datetime64[ns]
C            object
dtype: object

In [10]:
df.head() # 前5行

                   A         B         C         D
2024-01-01 -0.481355  0.743276 -0.026856  0.951764
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096
2024-01-03  0.776910  0.085999 -0.268158 -0.048869
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289
2024-01-05  0.968556 -0.996243  1.031896  0.953733

In [11]:
df.tail() # 后5行

                   A         B         C         D
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096
2024-01-03  0.776910  0.085999 -0.268158 -0.048869
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289
2024-01-05  0.968556 -0.996243  1.031896  0.953733
2024-01-06 -0.139715 -0.811698  0.655481 -2.787622

In [13]:
df.index # 查看索引 （最左边一列）

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.describe() # 数据描述性统计

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.054181 -0.385043 -0.068142 -0.693897
std    0.788400  0.688658  0.798552  1.549296
min   -1.100291 -0.996243 -1.016810 -2.787622
25%   -0.448314 -0.916396 -0.655341 -1.714741
50%   -0.244453 -0.595998 -0.147507 -0.733983
75%    0.547754 -0.030575  0.484897  0.701606
max    0.968556  0.743276  1.031896  0.953733

## 3 排序

In [18]:
# 按列降序
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2024-01-01  0.951764 -0.026856  0.743276 -0.481355
2024-01-02 -1.419096 -1.016810 -0.951295 -0.349192
2024-01-03 -0.048869 -0.268158  0.085999  0.776910
2024-01-04 -1.813289 -0.784402 -0.380297 -1.100291
2024-01-05  0.953733  1.031896 -0.996243  0.968556
2024-01-06 -2.787622  0.655481 -0.811698 -0.139715

In [19]:
# 按值排序
df.sort_values(by='B')

                   A         B         C         D
2024-01-05  0.968556 -0.996243  1.031896  0.953733
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096
2024-01-06 -0.139715 -0.811698  0.655481 -2.787622
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289
2024-01-03  0.776910  0.085999 -0.268158 -0.048869
2024-01-01 -0.481355  0.743276 -0.026856  0.951764

## 4 选择数据

In [20]:
df['A']

2024-01-01   -0.481355
2024-01-02   -0.349192
2024-01-03    0.776910
2024-01-04   -1.100291
2024-01-05    0.968556
2024-01-06   -0.139715
Freq: D, Name: A, dtype: float64

In [21]:
df[1:3]

                   A         B         C         D
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096
2024-01-03  0.776910  0.085999 -0.268158 -0.048869

In [22]:
df['20240101':'20240104']

                   A         B         C         D
2024-01-01 -0.481355  0.743276 -0.026856  0.951764
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096
2024-01-03  0.776910  0.085999 -0.268158 -0.048869
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289

### 4.1 按标签选择

In [23]:
df.loc['20240103']

A    0.776910
B    0.085999
C   -0.268158
D   -0.048869
Name: 2024-01-03 00:00:00, dtype: float64

In [25]:
df.loc[d[2]]

A    0.776910
B    0.085999
C   -0.268158
D   -0.048869
Name: 2024-01-03 00:00:00, dtype: float64

In [26]:
df.loc[:,['A','B']]

                   A         B
2024-01-01 -0.481355  0.743276
2024-01-02 -0.349192 -0.951295
2024-01-03  0.776910  0.085999
2024-01-04 -1.100291 -0.380297
2024-01-05  0.968556 -0.996243
2024-01-06 -0.139715 -0.811698

In [27]:
df.loc[d[0]:d[2],['A','B']]

                   A         B
2024-01-01 -0.481355  0.743276
2024-01-02 -0.349192 -0.951295
2024-01-03  0.776910  0.085999

In [28]:
df.at['20240101','A']

-0.48135508021800544

### 4.2 按位置选择

In [29]:
df.iloc[3]

A   -1.100291
B   -0.380297
C   -0.784402
D   -1.813289
Name: 2024-01-04 00:00:00, dtype: float64

In [30]:
df.iloc[3:5,0:2]

                   A         B
2024-01-04 -1.100291 -0.380297
2024-01-05  0.968556 -0.996243

In [31]:
df.iloc[0,0]

-0.48135508021800544

### 4.3 筛选

In [32]:
df[df['B']>0]

                   A         B         C         D
2024-01-01 -0.481355  0.743276 -0.026856  0.951764
2024-01-03  0.776910  0.085999 -0.268158 -0.048869

In [33]:
df[df>0]

                   A         B         C         D
2024-01-01       NaN  0.743276       NaN  0.951764
2024-01-02       NaN       NaN       NaN       NaN
2024-01-03  0.776910  0.085999       NaN       NaN
2024-01-04       NaN       NaN       NaN       NaN
2024-01-05  0.968556       NaN  1.031896  0.953733
2024-01-06       NaN       NaN  0.655481       NaN

In [34]:
df_copy = df.copy()
df_copy['E'] = ['one','one','two','two','three','three']
df_copy

                   A         B         C         D      E
2024-01-01 -0.481355  0.743276 -0.026856  0.951764    one
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096    one
2024-01-03  0.776910  0.085999 -0.268158 -0.048869    two
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289    two
2024-01-05  0.968556 -0.996243  1.031896  0.953733  three
2024-01-06 -0.139715 -0.811698  0.655481 -2.787622  three

In [35]:
df_copy[df_copy['E'].isin(['one'])]

                   A         B         C         D    E
2024-01-01 -0.481355  0.743276 -0.026856  0.951764  one
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096  one

## 5 赋值

In [37]:
# 用索引自动对齐新增列的数据
s1 = pd.Series([1,2,3,4,5,6],index=d)
s1

2024-01-01    1
2024-01-02    2
2024-01-03    3
2024-01-04    4
2024-01-05    5
2024-01-06    6
Freq: D, dtype: int64

In [38]:
df['F'] = s1
df

                   A         B         C         D  F
2024-01-01 -0.481355  0.743276 -0.026856  0.951764  1
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096  2
2024-01-03  0.776910  0.085999 -0.268158 -0.048869  3
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289  4
2024-01-05  0.968556 -0.996243  1.031896  0.953733  5
2024-01-06 -0.139715 -0.811698  0.655481 -2.787622  6

In [39]:
df.at['20240101', "A"] = 0
df

                   A         B         C         D  F
2024-01-01  0.000000  0.743276 -0.026856  0.951764  1
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096  2
2024-01-03  0.776910  0.085999 -0.268158 -0.048869  3
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289  4
2024-01-05  0.968556 -0.996243  1.031896  0.953733  5
2024-01-06 -0.139715 -0.811698  0.655481 -2.787622  6

In [40]:
df.iat[0,0]=1
df

                   A         B         C         D  F
2024-01-01  1.000000  0.743276 -0.026856  0.951764  1
2024-01-02 -0.349192 -0.951295 -1.016810 -1.419096  2
2024-01-03  0.776910  0.085999 -0.268158 -0.048869  3
2024-01-04 -1.100291 -0.380297 -0.784402 -1.813289  4
2024-01-05  0.968556 -0.996243  1.031896  0.953733  5
2024-01-06 -0.139715 -0.811698  0.655481 -2.787622  6

In [41]:
# 用numpy数组赋值
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C    D  F
2024-01-01  1.000000  0.743276 -0.026856  5.0  1
2024-01-02 -0.349192 -0.951295 -1.016810  5.0  2
2024-01-03  0.776910  0.085999 -0.268158  5.0  3
2024-01-04 -1.100291 -0.380297 -0.784402  5.0  4
2024-01-05  0.968556 -0.996243  1.031896  5.0  5
2024-01-06 -0.139715 -0.811698  0.655481  5.0  6

In [42]:
# 条件赋值
df_copy = df.copy()
df_copy[df_copy < 0] = 0
df_copy

                   A         B         C    D  F
2024-01-01  1.000000  0.743276  0.000000  5.0  1
2024-01-02  0.000000  0.000000  0.000000  5.0  2
2024-01-03  0.776910  0.085999  0.000000  5.0  3
2024-01-04  0.000000  0.000000  0.000000  5.0  4
2024-01-05  0.968556  0.000000  1.031896  5.0  5
2024-01-06  0.000000  0.000000  0.655481  5.0  6

## 6 空值

In [44]:
# 重新构建一个矩阵，并只对前几行赋值，人为制造NaN
df1 = df.reindex(index=d[0:4], columns=list(df.columns) + ['E'])
df1.loc[d[0]:d[1],'E'] = 1
df1

                   A         B         C    D  F    E
2024-01-01  1.000000  0.743276 -0.026856  5.0  1  1.0
2024-01-02 -0.349192 -0.951295 -1.016810  5.0  2  1.0
2024-01-03  0.776910  0.085999 -0.268158  5.0  3  NaN
2024-01-04 -1.100291 -0.380297 -0.784402  5.0  4  NaN

In [45]:
# 去除有空值的行
df1.dropna()

                   A         B         C    D  F    E
2024-01-01  1.000000  0.743276 -0.026856  5.0  1  1.0
2024-01-02 -0.349192 -0.951295 -1.016810  5.0  2  1.0

In [46]:
# 填充空值
df1.fillna(value=5)

                   A         B         C    D  F    E
2024-01-01  1.000000  0.743276 -0.026856  5.0  1  1.0
2024-01-02 -0.349192 -0.951295 -1.016810  5.0  2  1.0
2024-01-03  0.776910  0.085999 -0.268158  5.0  3  5.0
2024-01-04 -1.100291 -0.380297 -0.784402  5.0  4  5.0

In [47]:
pd.isna(df1)

                A      B      C      D      F      E
2024-01-01  False  False  False  False  False  False
2024-01-02  False  False  False  False  False  False
2024-01-03  False  False  False  False  False   True
2024-01-04  False  False  False  False  False   True